# Dependencies
node_modules/

# Next.js build output
.next/

# Local Netlify folder
.netlify/

# Environment files
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
